#Files and directories to be ignored
sensor_codes/temp_sensor/__pycache__
sensor_codes/press_sensor/__pycache__
sensor_codes/echosounder_sensor/examples/__pycache__
sensor_codes/multiple_sensors_pkg/examples/__pycache__
communication_codes/__pycache__
communication_codes/brping/__pycache__
